<style>
  /* Agregamos tu color personalizado aquí */
  .bg-cblue {
      background-color: #669BBC !important;
  }

  /* Tu efecto de las imágenes */
  .img-fade:hover {
      opacity: 0.7;         /* Hace la imagen más transparente */
      filter: blur(2px);    /* Aplica un desenfoque suave */
  }

  /* Fuerza el fondo blanco en el contenedor del scroll */
.tabla-contenedor-blanco {
    background-color: #ffffff !important;
}

/* Evita que los títulos largos de las columnas se amontonen verticalmente */
.table th, .table td {
    white-space: nowrap;
    padding: 12px 16px !important; /* Les da un aire más limpio y espaciado */
}
</style>